.info {
    .info-wrap {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        flex-wrap: wrap;
        .left-side {
            display: flex;
            justify-content: center;
            align-items: center;
            .logo {
                display: inline-block;
            }
            .logo-descr {
                display: inline-block;
                margin-left: 20px;
                .company-name {
                    display: block;
                    text-transform: uppercase;
                    @include bold;
                    font-size: 20px;
                }
                .descr {
                    display: block;
                    @include light;
                    font-size: 11px;
                    color: #969696;
                }
            }
        }
        .right-side {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .mobile {
                a {
                    color: black;
                    text-decoration: none;
                }
                .phone-number {
                    @include bold;
                    font-size: 18px;
                    font-weight: bold;
                }
                .phone-comment {
                    @include light;
                    font-size: 11px;
                    color: #969696;
                }
            }
            .button-o {
                box-sizing: border-box;
                margin-left: 30px;
                padding: 17px 25px;
                border: 2px solid black;
                background-color: transparent;
                @include medium;
                font-size: 12px;
            }
        }
    }
    @media (max-width: 675px) {
        .info-wrap {
            .right-side {
                flex-direction: column;
                .button-o {
                    margin-left: 0;
                    margin-top: 10px;
                    padding: 17px 30px;
                }
            }
        }
    }
    @media (max-width: 465px) {
        .info-wrap {
            flex-wrap: nowrap;
            .right-side {
                .mobile {
                    .phone-number {
                        font-size: 15px;
                    }
                }
                .button-o {
                    font-size: 10px;
                    padding: 17px 36px;
                }
            }
        }
    }
}